version: '3.9'

services:
  pydxf:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    image: pydxf
    container_name: pydxf
    volumes:
      - .:/app
    ports:
      - '8000:8000'